<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>PasswordManager</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="image/pass.png" type="image/png">
</head>
<body>
  {{>navebar}}

   <!-- main header -->
   
   <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <!-- left -->
                <div class="col-md-6 col-12 main_header_left">
                  <p>Welcome to security app</p>
                  <h1>In this you can login through different <span>Social Media</span> </h1>
                  <a href="/about"><button>Click me</button></a>

                </div>
                <!-- right -->
                <div class="col-md-6 col-12 main_header_right">
                  <figure>
                      <img src="image/—Pngtree—data privacy day securely transfer_5581298.png" alt="security" class="img-fluid">
                  </figure>

                </div>
                
              </div>
          </div>
      </div>
    </div>
    
</body>
</html>